 <style>
  .container {
        margin: 0%;
        margin-left: 0%;
        padding: 0%;
        max-width: 100%;
    }
</style>

<div class="dashboard">
    <div class="row m-0">
    <div class="dashboardImg mx-auto">
        <img src="/img/Logo_Oficial.png" width="250px" alt="logo">
        </div>
    </div>

    <div class="dashboardContentheader">
        <h2 class="text-center">
            Agosto 2020 (version 1.0)
        </h2>
        <p>Novedades:</p>  <hr>
            <p>
            <strong>Actualización 1.0</strong> La actualización de seguridad <a href="#">mas información</a>
            <br>
            <br>
            <strong>Actualización 1.0</strong> Inicio de sesion con facebook <a href="">mas información</a>
            <br>
            <br>
            <strong>Actualización 1.0</strong> Politicas de privacidad <a href="#">mas información</a>
            </p>
        <hr>
    </div>

    <div class="dashboardContentstripe">
        <div class="row">
        <div class="col-lg-4">
            <div class="row">
        <div class="dashboardStripeimg mx-auto">
            <img src="/img/stripe.jpg" width="250px" alt="stripe">
        </div>
        </div>
        </div>
        <div class="col-lg-8 contenDashboard">
            <h3>Una forma segura de realizar compras en linea</h3>
           <p> Con Stripe, las empresas ambiciosas de todo el mundo consiguen transferir
             dinero sin complicaciones, sin fronteras y de manera programable como el resto 
             de Internet. Nuestros equipos se encuentran repartidos por decenas de oficinas de todo 
             el mundo, y procesamos cientos de miles de millones de euros al año para empresas de todo 
             tipo desde startups hasta empresas que aparecen en la lista Fortune 500. <a href="https://stripe.com/es-us">mas información</a></p>
        </div>
            <hr>
            
          <div class="col-lg-4 mt-3">
            <div class="row">
        <div class="dashboardStripeimg mx-auto">
            <img src="/img/navbar.jpg" width="250px" alt="navbar">
        </div>
        </div>
        </div>
        <div class="col-lg-8 contenDashboard">
            <h3>Nuevo panel de control</h3>
            <p> Con el nuevo panel de FashionWear el manejo de tu tienda sera mas facil y repartidos
            con los accesos a tus productos y ordenes con tan solo un clic <a href="#">mas información</a></p>
            </div>
            <hr>

             <div class="col-lg-4 mb-3"></div>
        </div>
    </div>



</div>
  