{{!--Parte superior del login--}}

<div class="row bg">
    <div class="m-0 mx-auto col-6">
        <img src="/img/Logo_Oficial.png" alt="Logo FashionWear" width="30%">
    </div>
    <div class="col-6 text-right m-0">
        <p>Aun no tiene cuenta? <a href="/crear_usuario">Crear usuario</a></p>
    </div>
</div>


<div class="row">
    <div class="cuadroLogin mx-auto">
        <div class="cuadroContent text-center">
            <h1 class="mt-4 mb-0">Hola</h1>
            <p>Bienvenido de nuevo</p>
        </div>

    <div>
        <form class="form-signin formlogin" action="#">

            <div class="formdatos mt-4">
            <input type="email" name="email" id="email" required>
            <label class="lbl-nombre">
                <span class="text-nomb">
                    Correo electronico
                </span>
            </label>
            </div>

            <div class="formdatos mt-4">
            <input type="password" name="password" id="password" required>
            <label class="lbl-nombre">
                <span class="text-nomb">
                    Password
                </span>
            </label>
            </div>

        </form>

            <p class="text-center mt-4 mb-5"> <button class="btn btn-primary" type="submit">Iniciar Sesion</button></p>

        <div class="lineaDividir">
            <hr class="hr1">
            <p>O inicia sesión con:</p>
        </div>

            <div class="BotonesInicioSesion mx-auto">
                <p>
                <button class="btn btn-primary facebook">Facebook</button>
                <button class="btn btn-primary google">Google</button>
                </p>
            </div>
    


    </div>
    </div>




</div>
