  <style>
      .container {
          margin: 0%;
          margin-left: 0%;
          padding: 0%;
          max-width: 100%;
      }
  </style>

  <div class="imgInicioAdmin row">
      <div class="m-0 mx-auto my-auto">
          <div class="inicioAdmining mx-auto my-auto">
              <img src="/img/Logo_Oficial.png" alt="logo">
          </div>
      </div>

  </div>