{{!--Hero--}}
<div class="container-hero">


<section class="site-hero">

<div>
  <h2 class="frase-hero">"La moda desvanece, solo el estilo sigue siendo el mismo." <br> -Coco Chanel-</h2>
</div>
</section>
</div>

{{!--Como comprar info--}}
  <div class="row">
    <div  style="background: rgba(255, 255, 255, 0.411);">
              <div class="site-info mt-3">
                 <div class="container">
        <div class="row mt-5">
          <div class="col-md-6 col-lg-4  mb-4 mb-lg-0 pl-4 px-5">
            <div class="mr-3 mb-4 fontinfo text-center">
              <i class="fas fa-shipping-fast"></i>
            </div>
            <div class="text-info">
              <h2 class="text-uppercase text-center">Envio rapido</h2>
              <p class="text-muted text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4  mb-4 mb-lg-0 pl-4 px-5">
            <div class="mr-4 mb-4 fontinfo text-center">
              <i class="fas fa-undo-alt"></i>
            </div>
             <div class="text-info">
              <h2 class="text-uppercase text-center">Reembolso</h2>
              <p class="text-muted text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 pl-4 px-5">
            <div class="mr-4 mb-4 fontinfo text-center">
              <i class="fas fa-info"></i>
            </div>
            <div class="text-info">
              <h2 class="text-uppercase text-center">Soporte 24hrs</h2>
              <p class="text-muted text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p> <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>