{{!--Hero--}}

{{!--https://bootsnipp.com/snippets/xrXp9--}}

<section class="site-hero">

    <div>
        <h2 class="frase-hero">"La moda desvanece, solo el estilo sigue siendo el mismo." <br> -Coco Chanel-</h2>
    </div>
</section>


<section id="portfolio">
    <div class="container-fluid">
        <div class="content-center">
            <h2 class="titulo-h2">Trabajamos con marcas interesantes en el mundo de la moda</h2>
            <p class="parrafo-inicio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur,
                odit veniam mollitia
                aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum. Suscipit expedita obcaecati
                nesciunt error ut quidem autem.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2 class="titulo-h2">Camisa de rayas</h2>
                        </a>
                        <a href="#">
                        </a>
                    </div>
                    <img src="../img/camisa.jpg" class="img-fluid" alt="Portfolio 01">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2 class="titulo-h2">Zapatilla combinada</h2>
                        </a>
                        <a href="#">
                        </a>
                    </div>
                    <img src="../img/calzado.jpg" class="img-fluid" alt="Portfolio 02">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2 class="titulo-h2">Botas de piel</h2>
                        </a>
                        <a href="#">
                        </a>
                    </div>
                    <img src="./img/botas.jpg" class="img-fluid" alt="Portfolio 03">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2 class="titulo-h2">Camiseta con pliegues</h2>
                        </a>
                        <a href="#">
                        </a>
                    </div>
                    <img src="../img/camisam.jpg" class="img-fluid" alt="Portfolio 04">
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="parrafo-inicio">¿Estás listo para realizar tus mejores compras?</p>
            <a href="#" class="text-dark"><b>Solo avísanos.</b></a>
        </div>
    </div>
</section>