<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3 class="display-5">Productos en el sistema</h3>
</div>

 
  <div class="card-deck mb-3 text-center">
    {{!-- Mostrar los productos (si existen) --}}
    {{#if productos}}
        {{#each productos}}
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-1.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{dataValues.nombre}}</a></h3>
                    <div class="price">L. {{dataValues.precio}}.00
                        <span>$14.00</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Editar"><i class="fas fa-edit mt-3"></i></a></li>
                    <li><a href="" data-tip="Eliminar"><i class="fas fa-trash-alt mt-3"></i></a></li>
                </ul>
            </div>
        </div>

        {{/each}}
    {{else}}
      <h4>No has ingresado productos aún.</h4>
    {{/if}}
  </div>
