
<div class="image-aboutus-banner" style="margin-top:70px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">Sobre nosotros</h1>
                <p class="image-aboutus-para">FashionWear los mejores en moda.</p>
            </div>
        </div>
    </div>
</div>
<div class="container paddingTB60">
    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-12">

            <hr>

            <h2 class="text-center" >Se parte de este inicio ” FashionWear ”, muchas gracias por tu fidelidad y podemos decir que FashionWear
                nos enfocamos en tu estilo.</h2>

            <hr>

            <!-- Preview Image -->
            <img class="img-responsive"
                src="http://mobilebusinessinsights.com/wp-content/uploads/2016/03/IBM_MobileFirst_SXSWBlog_0321_v2.jpg"
                alt="">

            <hr>

            <!-- Post Content -->
            <p>
                <strong>NUESTRA PASIÓN</strong> … por la moda nos hace renovarnos constantemente, reunir en un mismo espacio, cuidado al
                detalle, las marcas más punteras y reconocidas.
                <br>
                <strong>NUESTRA FILOSOFÍA</strong> … es apostar por la calidad y exclusividad de nuestras marcas.
                <br>
                <strong>NUESTRO ADN</strong> … es ser exigentes, dinámicos, potenciando lo que nos inspira la moda para poder
                transmitirtela.
                <br>
                <strong>NUESTRA HUELLA</strong> … creativa y personal, teniendo claro el patrón de calidad con el que queremos trabajar.
                <br>
                <strong>NUESTRA APUESTA</strong> … la profesionalidad junto a nuestra experiencia, y continuar sorprendiéndote con todo
                lo que el mundo de la moda nos ofrece.
            </p>

            <hr>




        </div>

    </div>

</div>
</div>


<div class="cta-sektion cta-padding35" style="border-bottom: #333333; background: hsla(0, 0%, 8%, 0.918);">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h3><span class="glyphicon glyphicon-cog "></span> <b>Deseas trabajar con nostros?</b> Escribenos a fashionwear@store.com
                </h3>
            </div>
           

            </div>
        </div>
    </div>
</div>