@font-face {
    font-family: 'fuente1';
    src: url('../font/fuente.ttf');
}
@font-face {
    font-family: 'fuente2';
    src: url('../font/fuente2.ttf');
}
@font-face{
    font-family: 'fuente3';
    src: url('../font/Muli-VariableFont_wght.ttf');    
}
@font-face {
    font-family: 'satisfy';
    src: url('../font/Satisfy.ttf');
}

/* inicio NavBar de layout main*/

.navbar{
    align-items: center;
}

.navbar a{
    font-family: 'fuente3';
}

/*Fin de navBar*/

.botonGeneral {
    /* font-family: 'fuente1'; */
    background-color: #333333; 
    font-weight: 600;
    color:#FFFFFF; 
    padding: 6px 48px 4px; 
    font-size: 17px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:3px;
    -khtml-border-radius:0px;
}
.btn{
    background-color: #333333;
    border-radius: 2px;
    border-color: #464646;
    color: white;
}
.btn:hover{
    background-color: #575454;
    color: white;
    border-color: #464646;
}
.btngoogle{
    background-color: #ffffff;
    color: #000000;
    padding-right: 15px;
}
.btngoogle:hover{
    background-color: rgb(214, 213, 213);
    color: #000000;
}
.btnfacebook{
    background-color: #3c5896;
    padding-right: 15px;
}
.btnfacebook:hover{
    background-color: #4c6baf;    
}

.nav-link{
    font-family: 'fuente1';
    font-size: 17px;
    padding: 8px 12px;
    margin-right: 40px;
}
.nav-item a:hover{
    color: #575454;
}

h1{
    font-family: 'fuente1';
}


/*Formulario crear usuario*/
.formUser label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.formUser input{
    width: 100%;
    margin-bottom: 20px;
}

.formUser input[type="text"],
.formUser input[type="password"],
.formUser input[type="email"]{
    border: none;
    border-bottom: 1px solid rgb(26, 26, 26);
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
}

.UserName{
    width: 220px;
}
.LastName input{
    width: 220px;
}

div.vertical-line{
    width: 1px; /* Line width */
    background-color: rgb(51, 51, 51); /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. 
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
  }

.FacebookGoogle img{
    width: 60%;
}

.BotonesCrearUsuario p{
    margin-top: 15px;
    text-align: center;
}  

.FacebookGoogle .google{
    background: white;
    color: black;
    margin-left: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width:770px){
   
    .UserFullName input{
        width: 100%;
    }

    div.vertical-line{
       display: none;
      }

      .BotonesCrearUsuario p{
        margin-top: 15px;
        text-align: center;
    }  
    
  }

  /*Fin de formulario crear usuario*/

  /*Formulario inicio de sesion*/

.header-inicio-sesion{
    margin-bottom: 50px;
}

.cuadroLogin{
    width: 450px;
    height: 540px;
    border: 1px solid rgba(26, 26, 26, .50);
    border-radius: 5px;
    padding: 20px;
}

.lineaDividir .hr1{
    width: 50px;
    background: black;
}
.lineaDividir p{
    font-size: 10px;
    text-align: center;
    color:  rgb(112, 112, 112);
}

.formlogin{
    position: relative;
    overflow: hidden;
}

.formdatos{
    margin-left: 20px;
    width: 90%;
	height: 50px;
	max-width: 400px;
	position: relative;
	overflow: hidden;

}

.formdatos input{
    width: 70%;
	height: 70%;
	background: none;
	color: #000000;
	padding-top: 20px;
	border: none;
	outline: 0px;
}

.formdatos .lbl-nombre{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid #888787;
}

.formdatos .lbl-nombre:after{
    content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #cca86a;
	transform: translateX(-100%);
	transition: all 0.3s ease;
}

.text-nomb{
    position: absolute;
	bottom: 5px;
	left: 0;
	transition: all 0.3s ease;
	color: #000000;
}

.formdatos input:focus + .lbl-nombre .text-nomb,.formdatos input:valid + .lbl-nombre .text-nomb{
	transform: translateY(-100%);
	font-size: 14px;
	color: #2ecece;color: #000000;
}

.formdatos input:focus + .lbl-nombre:after, .formdatos input:valid + .lbl-nombre:after{
	transform: translateX(0%);
}
@media only screen and (min-width:320px) and (max-width:768px){
 .formdatos{
	width:85%;
}
    }

.BotonesInicioSesion .google{
    background: white;
    color: black;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.BotonesInicioSesion p{
    text-align: center;
    margin: 25px;
}

/*Fin de formulario de inicio de sesion*/

/* Drop Menú */
.dropM:hover{
    background-color: #e7e5e5;
}

.dropM:active{
    color: #191919;
    background-color: #b3b3b3;
}

.dropT{
    background-color: #ffffff; 
    color:#191919; 
    text-decoration:none;
}
.dropT:hover{
    text-decoration:none;
    color: #555454;
}


/* Página de Inicio */
.frase-hero{
    font-family: "satisfy";
}
.usuario-info{
    padding: 5px;
}

.usuario-info p{
    margin-top: 5px;
    margin-left: 200px;
    font-size: 12px;
    color: white;
}

.usuario-info-icon{
    margin-right: 200px;
}

@media (max-width:770px){
    .usuario-info p{
       margin-left: 15px;
    }

    .usuario-info-icon{
       margin-right: 15px; 
    }
}

.usuario-info-icon a{
    font-size: 14px;
    margin: 0px 10px 0px 10px;
    color: white;
}

.site-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/hero_1.jpg");
    height: 70vh;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 5vh;
    padding-bottom: 30vh;
}
.site-hero h2{
    text-align: center;
    /* position: absolute; */ 
    font-family: "satisfy";
    /* font-size: 2.5em; */
    font-size: 7vh;
    margin: auto;
    margin-top: 20%;    
    color: rgba(255, 255, 255, 0.85);
}


.text-description p{
    font-size: 15px;
    margin: 0px 20px 0px 80px;
}

.site-info h2{
    font-size: 20px;
}

.site-info h2 p{
    font-family: "funte3";

}

.fontinfo i{
    font-size: 45px;
}



/*Fin de inicio*/
